/*------styles.css-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}
body{
    min-height: 100 vh;
    display: flex;
    justify-content: center;
}
div{
    text-align: center;
}
div h2{
    letter-spacing: 3px;
    text-transform: uppercase;
}
div hr{
    margin: 14px 0;  
}
div input[type=number]{
    margin: 8px 0;
    padding: 8px 0;
    width: 100%;
    font-size: 16px;
}
div input[type=number]:read-only{
    border: 1px solid #000;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
div button{
    margin: 0 4px;
    padding: 6px 0;
    width: 62px;
    border: 1px solid #999;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
div button:hover{
    background-color: #ccc;
}
div button:focus{
    outline: 2px solid #333;
}
